BOT_TOKEN=8247526902:AAGQb8eJbPY044-hmlqu2OsqwqHoNylUwV4
ADMIN_BOOTSTRAP_SECRET=nnq8522gfnlGFdsf
RAG_API_URL=https://api.sovix.ru
RAG_API_KEY=rag_sk_v1_gg5ESPZfbezZF7CdSo5RhdXQ84m7BaRnwAoak_vZPLI
RAG_POLL_INTERVAL_SEC=3
RAG_MAX_ATTEMPTS=100
DATABASE_URL=postgresql://carbot:password@postgres:5432/carbot
